# Created by venv; see https://docs.python.org/3/library/venv.html
# Python
.venv/
__pycache__/
*.pyc

# Secrets
.env

# Ignore all VS Code files by default...
.vscode/*

# ...but allow specific shared config files
!.vscode/settings.json
!.vscode/launch.json
!.vscode/extensions.json